[flake8]
max-line-length = 88
select = E,W,F,C
ignore = 
    # whitespace before ':'
    E203, 
    # line too long (handled by black)
    E501,  
    # line break before binary operator
    W503,  
    # too complex
    C901,  
exclude = 
    .git,
    __pycache__,
    .venv,
    .eggs,
    *.egg,
    build,
    dist,
    .mypy_cache,
    .pytest_cache
per-file-ignores =
    __init__.py:F401
    */migrations/*:E501,F401 